:root {
    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
}

.CalendarUI {
    position: relative;
    height: 100%;
    margin-left: 20px;
}

#calendar {
    position: relative;
    margin-right: 30%;
    height: 100%;
    border: black;
}

#logoutButton {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: orangered;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

#logoutButton:hover {
    background-color: indianred;
    color: black;
}

.switch-container {
    display: flex;
    align-items: center;
}

.input-container {
    position: absolute;
    align-items: center;
    right: 0;
    display: flex;
    width: 30%;
}

#textInput {
    width: 400px;
}


